/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.base {
  width: 100%;
  height: 100%;
  background: #27ff00;
  background: linear-gradient(45deg, #27ff00 0%, #8400d0 100%);
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.brand {
  font-family: "Odibee Sans", cursive;
  text-align: center;
  position: absolute;
  top: 30px;
  font-size: 1.5em;
  opacity: 0.2;
}

.news {
  background-color: #fff;
  max-width: 2000px;
  margin: 80px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 40px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}
.news__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 40px;
}
.news__grid__item {
  text-align: center;
  line-height: 1.25em;
}
.news__grid__item h1 {
  font-weight: bold;
  font-size: 1.1em;
}
.news__grid__item p {
  font-size: 0.9em;
}
.news .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}
.form__container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form__container input[type=text], .form__container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form__container input[type=text]:focus, .form__container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form__container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form__container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form__container .btn:hover, .open-button:hover {
  opacity: 1;
}